<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="example.jethro.com.materialdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BottomToolbarActivity"
            android:label="bottom toolbar" />
        <activity
            android:name=".AppBarLayoutActivity"
            android:label="AppbarLayout" />
        <activity
            android:name=".CollapsingToolbarActivity"
            android:label="CollapsingToolbarActivity" />
        <activity
            android:name=".FabShrinkActivity"
            android:label="Fab Behavior" />
        <activity
            android:name=".NestedScrollViewActivity"
            android:excludeFromRecents="true"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TabLayoutActivity"
            android:excludeFromRecents="true"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BottomSheetActivity"
            android:excludeFromRecents="true"
            android:label="BottomSheet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageTransitionActivity"
            android:label="Transition"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageDetailActivity"
            android:label="图片详情"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PaletteActivity"></activity>

    </application>

</manifest>